html{
    scroll-behavior: smooth;
}
body{
    background-color: black;

}
#hd{
    color: red;
    font-style: italic;
    font-weight: bolder;
    font-family:serif;
    font-size: 2rem;
}
.he{
    color: red;
    font-style: italic;
    font-weight: bolder;
    font-family:serif;
    font-size: 3rem;
    /* border-bottom: 5px solid red; */
    position: relative;
    bottom: 400px;
    display: flex;
    justify-content: center;
    

}
.container{
    position: relative;
    
    margin: 100px 0 0 300px;
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    left: 200px;
    bottom: 500px;
    /* border: 5px solid red; */
    
    
   
}
.container img{
    width: 10%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
   
}
.container img:hover{
    width: 25%;

}

.pic img{
    width: 30rem;
    height: 30rem;
    position: relative;
    
    top: 50px;
    left:180px;
    cursor: pointer;
    border-radius: 100%;
    transition: 1.2s;
    animation: 1.5s infinite pics;
}
.pic img:hover{
    transform: scale(1.3);
    
}
@keyframes pics{
    0%{transform:scale(1.1);}
    100%{transform:rotateX(360deg);}}

.gallery{
    display:inline-block;
    border: transparent;
    margin:10px;
    border-radius: 5px;
    width: 230px;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
    transition: 1.2s;

}
.gallery:hover{
    transform: scale(1.1);
}
.gallery .description{
    background-color: red;
    font-weight: bolder;
    padding: 10px;
    padding-left:72px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    
}

.gallery img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
    
}
.controller{
    position: relative;
    bottom: 300px;
    /* border: 5px solid red; */
  
}
.color-container{
    /* border:5px solid red; */
    display: flex;
    justify-content: end;
   
}
#press{
    
    border: none;
    border-style:none;
    color: white;
    
    border-radius: 100px;
    width: 40px ;
    height: 40px;
    background-image: conic-gradient(red, yellow, green, blue, black);
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;

}

.footer{
    
    /* border: 5px solid red; */
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px;
    background-color: grey;
}

i{
    /* border: 5px solid red; */
    height: 200px;
    color: blue;
    font-size: 40px
}
i:hover{
    color: rgba(0, 0, 255, 0.459);
}
i:active{
    color:red;
}
.foot{
    /* border: 5px solid red; */
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: grey;
}
.footer,.foot:hover{
    background-color: rgba(128, 128, 128, 0.253);
}